*{
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}
body {}
/*header, #logo, nav, main, #hero, section, footer {
	border: 1px solid blue;
}*/
article {
	padding-left: 2%;
	padding-right:2%;
}
#hero {}
#hero img {
	width:100%;
}
h2 {
	border-bottom:2px solid black;
}
.clear {
	clear:both;
}
header, footer {
	background:#555555;
	color:white;
	height: 100px
}
#logo {
	width:40%;
	float:left;
}
nav {
	width:40%;
	float: right;
}
nav li {
	float: left;
}
nav a {
	color:white;
	display: block;
	padding: 1em .5em;
	text-shadow:2px 2px 5px black;
}

nav .line{
	background: white;
	display:none;
	height: 5px;
	margin-top: 8px;
	width: 40px;
}
nav li a:hover {
	transition: .75s;
}
nav li:nth-child(2) a:hover {
	background:red;
}
nav li:nth-child(3) a:hover {
	background:gold;
}
nav li:nth-child(4) a:hover {
	background:blue;
}
nav li:nth-child(5) a:hover {
	background:green;
}
nav li:nth-child(6) a:hover {
	background:purple;
}
nav li:nth-child(7) a:hover {
	background:lightblue;
}
nav li.active a {
	background: #666;
}
footer a {
	color:white;
}
.backToTop {
	float:right;
}
/*Transit line drop down*/
.transit {
	background:#33333;
}
.transit h2 {
	border-bottom:2px solid black;
}
.transit {
	list-style-type:none;
	margin:0;
	padding:0;
}
.transit ul li {
	line-height:30px;
}
/*.transit li a:hover {
	background:#555555;
	display:block;
}*/
.redLine, .goldLine, .blueLine, .greenLine, .purpleLine {
	border-radius:25px;
	margin:0 10px 0 0;
	padding-left:20px;
}
.redLine {
	background:red;
}
.goldLine {
	background:gold;
}
.blueLine {
	background:blue;
}
.greenLine {
	background:green;
} 
.purpleLine {
	background:purple;
}
/* Images for pages */
.transitlineImageBox {
	background:#999999;
	width:100%;
	overflow:hidden;
}
.transitImage {
	float:left;
	width:25%;
	padding:1%;
}
.transitImage img {
	width:100%;
}
/*slider css */
#carousel {
  /*Prevent images from wrapping*/
  white-space: nowrap;
  overflow: hidden;
}

#carousel, .slide-image {
	/*Set the container carousel to be fullscreen. If you change the size
  of your carousel make sure to also change the size of your slides*/
  	height: 100vh;
	width: 100vw;
}
.slide-image {
  /*Make the image cover the the screen and center it*/
  background-position: center;
  background-size: cover;
  /*Make images inline with each other*/
  display: inline-block;
}

#slide1 {
  background-image: url('../images/image1.jpg');
}
#slide2 {
  background-image: url('../images/image2.jpg');
}
#slide3 {
  background-image: url('../images/image3.jpg');
}
#slide4 {
  background-image: url('../images/image4.jpg');
}
#slide5 {
  background-image: url('../images/image5.jpg');
}
#slide6 {
  background-image: url('../images/img6.jpg');
}
#slide7 {
  background-image: url('../images/img7.jpg');
}
#slide8 {
  background-image: url('../images/img8.jpg');
}
#slide9 {
  background-image: url('../images/img9.jpg');
}
#slide10 {
  background-image: url('../images/img10.jpg');
}
/* end slider css */

/*media queries*/
@media screen and (max-width:480px) {
	.navTitle {
    position: absolute;
    left: 260px;
	}
	.transitImage {
		width:100%;
	}
	#carousel, .slide-image {
		height: 50vh;
	}
}

@media  screen and (max-width: 768px) {
	#carousel, .slide-image {
		height:60vh;
	}
}

@media screen and (max-width:1600px){
	.navTitle {
	float:right;
	width:20%;
	}
	nav{
		width:100%;
	}

	nav .line {
		display:block;
	}
	nav li{
		float: none;
	}
	nav li:first-child{
		display:block;
		position: absolute;
		top:5px;
		right:10px;
	}
	ul{
		background:black;
		height:0;
		transition:all 1s;
		text-align:center;
		margin-bottom:0;
		padding:0;
	}

	.slideDown{
		height:300px;
	}
}




